.bannertext{
  font-size:40px;
}
.aspiration{
  font-size:30px;
  text-align:center;
}
.oneliner{
  text-align:right;
}
.image.avatar48 img {
  width:auto;
  height:90px;
  margin-left: 30px;
}
#nus{
  width:100%;
  margin-top:170px;
}
#aboutblock li, p{
  text-align:left;
}
#aboutblock p{
  margin:0;
}
#about{
  text-align:justify;
}
#photo1{
  width:100%;
}
#photo2{
  width:100%;
}
#photo3{
  width:100%;
}
#guco{
  margin-left:300px;
  text-align:justify!important;
}
