.bannertext{
  font-size:40px;
}
.aspiration{
  font-size:30px;
  text-align:center;
}
.oneliner{
  text-align:right;
}
.image.avatar48 img {
  width:auto;
  height:90px;
  margin-left: 30px;
  margin-bottom: 30px;
}
#nus{
  width:100%;
  margin-top:70px;
}
#aboutblock li, p{
  text-align:left;
}
#aboutblock p{
  margin:0;
}
#photo1{
  width:100%;
}
#photo2{
  width:100%;
}
#photo3{
  width:100%;
}
.gucodescription{
  text-align:justify!important;
}
.DPdescription{
  text-align:justify!important;
}
.batadescription{
  text-align:justify!important;
}
.SUTDdescription{
  text-align:justify!important;
}
.delegatedescription{
  text-align:justify!important;
}
.changebugdescription{
  text-align:justify!important;
}
.tayninh{
  text-align:justify!important;
}
.cip{
  text-align: justify!important;
}
.quote{
  text-align: justify!important;
}
.selfintro{
  text-align: justify!important;
}
.four{
  text-align:justify!important;
}
@media screen and (min-width: 600px) {
#guco{
  margin-left:300px;
}
}
@media screen and (min-width: 600px) {
#Dpinfo{
  margin-left:300px;
}
@media screen and (min-width: 600px) {
#bata{
  margin-left:300px;
}
@media screen and (min-width: 600px) {
#sutd{
  margin-left:300px;
}
@media screen and (min-width: 600px) {
#delegate{
  margin-left:300px;
}
}
@media screen and (min-width: 600px) {
#Changebug{
  margin-left:300px;
}
}
@media screen and (min-width: 600px) {
.button{
  margin-left:393px!important;
}
@media screen and (max-width: 600px) {
.button{
  margin-left:100px!important;
}
@media screen and (max-width: 600px) {
.four{
width:100%!important;
}
@media screen and (max-width: 600px) {
.cip{
  width:100%;
}
.quote{
  width:100%;
}
.selfintro{
  width:100%;
}
/* .tayninhbutton{
    margin-left: 393px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #212931;
    color: #212931 !important;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
} */
#skills{
  text-align: justify!important;
}
.image edit{
  width:100%;
}
